@model IEnumerable<ProducerNameListingServiceModel>
    @{
        ViewData["Title"] = "All Producers";
    }
    <h2>@ViewData["Title"]  <a asp-action="Create" class="btn btn-default">Add Producer</a></h2>
    <br />
    @if (User.IsInRole(WebConstants.AdministratorRole))
    {
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var producer in Model)
                {
                    <tr>
                        <td width="50">@producer.Id</td>
                        <td width="500">@producer.Name</td>
                        <td>
                            <a asp-area="Admin" asp-controller="Producers" asp-action="Edit" asp-route-id="@producer.Id" class="btn btn-warning btn-sm">Edit</a>
                            <a asp-area="Admin" asp-controller="Producers" asp-action="Delete" asp-route-id="@producer.Id" class=" btn btn-danger btn-sm">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
