@model ProductPageListingViewModel
@{
    ViewData["Title"] = "All Products";
}


@foreach (var product in Model.Products)
{
    <div class="col-md-4 " style="text-align:center; height:350px; padding-bottom:20px">
        <a asp-area="" asp-controller="Products" asp-action="Detail" asp-route-id="@product.Id" class="btn btn-default"><img src="@product.ImageUrl" style="height:200px; width:200px" alt="@product.Name" /></a>
        <p>@product.Name</p>
        <p>@product.Price lv</p>
        @if (User.IsInRole(WebConstants.AdministratorRole))
        {
            <a asp-area="Admin" asp-controller="Products" asp-action="Edit" asp-route-id="@product.Id" class="btn btn-warning btn-sm">Edit</a>
            <a asp-area="Admin" asp-controller="Products" asp-action="Delete" asp-route-id="@product.Id" class=" btn btn-danger btn-sm">Delete</a>
        }
        else
        {
            <a asp-area="" asp-controller="ShoppingCart" asp-action="AddToCart" asp-route-id="@product.Id" class="btn btn-default">Add to cart</a>
        }
    </div>
}
    @if (Model.TotalProducts > Model.Products.Count())
    {
        <ul class="pagination">
            <li class="@(Model.CurrentPage==1?"disabled":string.Empty)">
                <a asp-route-page="@Model.PreviousPage" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li class="@(Model.CurrentPage==Model.TotalPages?"disabled":string.Empty)">
                <a asp-route-page="@Model.NextPage" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    }
