@model ProductIndexListingViewModel
@{
    ViewData["Title"] = "Home Page";
}
<div style="text-align:center">
    <h2>Wellcome to our store! We wish you pleasant shopping!</h2>
    <h5> If you are our client, please <a asp-area="" asp-controller="Account" asp-action="Login">login</a> with your profile.If you are here for the first time and you like to order , you should <a asp-area="" asp-controller="Account" asp-action="Register">register</a> first.</h5>
</div>
<hr />

<br />
<div style="text-align:center"><h4>New Products</h4></div>
<br />

@foreach (var product in Model.Products)
{
    <div class="col-md-4" style="text-align:center; height:350px ">
        <a asp-area="" asp-controller="Products" asp-action="Detail" asp-route-id="@product.Id" class="btn btn-default"><img src="@product.ImageUrl" style="height:200px; width:200px" alt="@product.Name" /></a>
        <p>@product.Name</p>
        <p>@product.Price lv</p>
        @if (User.IsInRole(WebConstants.AdministratorRole))
        {
            <a asp-area="Admin" asp-controller="Products" asp-action="Edit" asp-route-id="@product.Id" class="btn btn-warning btn-sm">Edit</a>
            <a asp-area="Admin" asp-controller="Products" asp-action="Delete" asp-route-id="@product.Id" class=" btn btn-danger btn-sm">Delete</a>
        }
        else
        { <a asp-area="" asp-controller="ShoppingCart" asp-action="AddToCart" asp-route-id="@product.Id" class="btn btn-primary">Add to cart</a>}
    </div>
}

